datasets
librosa

jiwer
evaluate
functools 
partial
transformers 

transformers

pandas

datasets
Dataset

pandas
datasets
transformers


re
unicodedata
Dataset
DatasetDict
datasets
Audio

datasets
Audio
transformers 
WhisperProcessor
torch
dataclasses 
dataclass
typing
Any
Dict
List
Union
